.THIS .slds-button_brand .slds-icon-text-default {
  fill: rgb(255, 255, 255);
}

.THIS .slds-path__scroller_inner .slds-icon-text-default {
  fill: rgb(255, 255, 255);
}

.THIS .text-alteration .slds-icon-text-default {
  fill: rgb(255, 255, 255);
}

.THIS .panel-display-none {
  display: none !important;
}
.THIS .fixedHeight {
  min-height: 415px;
}
.THIS .icon_color_black {
  fill: rgb(112, 110, 107) !important;
}
.THIS .icon_color_black .slds-icon-text-default {
  fill: rgb(112, 110, 107) !important;
}

.THIS textarea {
  overflow: hidden;
}