/**
 * Created by Arkadiusz Celej on 07.02.2018.
 */
.THIS {
}
.THIS .calendar-header{
    background-color: #2093DA;
    color: white;
}

.THIS table tr td{
    height: initial !important;
    text-align: center;
}

.THIS .date-input-calendar{
    position: absolute;
    z-index: 2;
    font-size: smaller;
    border: 1px solid silver;
}

.THIS .slds-input{
    width: 125px;
}

.THIS .apttus-input-date{
    display: inline;
}

.THIS .apttus-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: default;
}

.THIS .selected{
    background-color: #005fb2;
    color: white;
}